In [1]:
#exercise 1- read in the datafile as a dataFrame
import pandas as pd
df = pd.read_stata('US_ACS_2017_10pct_sample.dta')
df

,year,datanum,serial,cbserial,numprec,subsamp,hhwt,hhtype,cluster,adjust,...,migcounty1,migmet131,vetdisab,diffrem,diffphys,diffmob,diffcare,diffsens,diffeye,diffhear
0,2017,1,177686,2.017001e+12,9,64,55,"female householder, no husband present",2.017002e+12,1.011189,...,0,not in identifiable area,n/a,n/a,n/a,n/a,n/a,no vision or hearing difficulty,no,no
1,2017,1,1200045,2.017001e+12,6,79,25,"male householder, no wife present",2.017012e+12,1.011189,...,0,not in identifiable area,n/a,no cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
2,2017,1,70831,2.017000e+12,1 person record,36,57,"male householder, living alone",2.017001e+12,1.011189,...,0,not in identifiable area,n/a,has cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
3,2017,1,557128,2.017001e+12,2,10,98,married-couple family household,2.017006e+12,1.011189,...,0,not in identifiable area,n/a,no cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
4,2017,1,614890,2.017001e+12,4,96,54,married-couple family household,2.017006e+12,1.011189,...,0,not in identifiable area,n/a,n/a,n/a,n/a,n/a,no vision or hearing difficulty,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318999,2017,1,734396,2.017001e+12,4,78,100,married-couple family household,2.017007e+12,1.011189,...,0,not in identifiable area,n/a,no cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
319000,2017,1,586263,2.017001e+12,4,57,77,married-couple family household,2.017006e+12,1.011189,...,0,not in identifiable area,n/a,n/a,n/a,n/a,n/a,no vision or hearing difficulty,no,no
319001,2017,1,510444,2.017001e+12,2,43,152,"female householder, no husband present",2.017005e+12,1.011189,...,0,not in identifiable area,n/a,has cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
319002,2017,1,1220474,2.017001e+12,4,16,148,married-couple family household,2.017012e+12,1.011189,...,0,not in identifiable area,n/a,no cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
319003,2017,1,219435,2.017000e+12,2,17,47,married-couple family household,2.017002e+12,1.011189,...,0,not in identifiable area,n/a,no cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no

In [2]:
#exercise 2 - compute mean income for 2017 US ACS sample data

mean_inc = df['inctot'].mean()
print(f'The mean income in 2017 US ACS sample is: ${mean_inc:.2f}')

The mean income in 2017 US ACS sample is: $1723646.27

In [3]:
#exercise 3 - find distribution of income in data

#This will count up values in income (for git exercise)
df['inctot'].value_counts()

9999999    53901
0          33679
30000       4778
50000       4414
40000       4413
           ...
70520          1
76680          1
57760          1
200310         1
505400         1
Name: inctot, Length: 8471, dtype: int64

There are missing income values that default to $9999999 which increases the average income.

In [4]:
#exercise 3- find income distribution proportions

df['inctot'].value_counts(normalize = True)

9999999    0.168967
0          0.105575
30000      0.014978
50000      0.013837
40000      0.013834
             ...
70520      0.000003
76680      0.000003
57760      0.000003
200310     0.000003
505400     0.000003
Name: inctot, Length: 8471, dtype: float64

~17% of individuals have an "income" of $9999999. ~11% of individual have no income.

In [5]:
#exercise 4 - replace income of 9999999 with NaN
import numpy as np 
df['inctot']= df[['inctot']].replace(to_replace = 9999999, value = np.nan)
df['inctot']

0              NaN
1           6000.0
2           6150.0
3          14000.0
4              NaN
            ...
318999     22130.0
319000         NaN
319001      5000.0
319002    240000.0
319003     48000.0
Name: inctot, Length: 319004, dtype: float64

In [6]:
#exercise 5 - calculate average income after replacing 9999999 with NaN
average_income = df["inctot"].mean()
print(f'The mean income in 2017 US ACS sample is: ${average_income:.2f}')

The mean income in 2017 US ACS sample is: $40890.18

In [7]:
#exercise 6 - subset for missing income and look at age value counts

subset_df=df[df['inctot'].isnull()]
subset_df['age'].value_counts()

10    3997
9     3977
14    3847
12    3845
13    3800
      ...
39       0
38       0
37       0
36       0
96       0
Name: age, Length: 97, dtype: int64

Most of the people who don't have income are under the age of 15. Hence why they originally had the artificial income of $9999999.

In [8]:
#exercise 6 - subset for income not missing, look at age distribution 

subset_df2 = df[df['inctot'].notnull()]
subset_df2['age'].value_counts()

60                      4950
54                      4821
59                      4776
56                      4776
58                      4734
                        ...
5                          0
4                          0
3                          0
2                          0
less than 1 year old       0
Name: age, Length: 97, dtype: int64

Adults generally seem to have an income value associated with them. 9999999 was being used for children who probably don't have an income as can be seen in age distribution computed for nan. We can exclude children with no income but an artificial 9999999 designation from our analysis since their inclusion results in skewed data.

In [9]:
#exercise 7 - subset for employment status and look at the distribution of incomes 

subset_df3 = df[df['empstat'] == 'employed']
subset_df3['inctot'].value_counts()

30000.0     4206
50000.0     4111
40000.0     4062
60000.0     3389
20000.0     3349
            ...
21280.0        1
3250.0         1
47060.0        1
59730.0        1
505400.0       1
Name: inctot, Length: 6266, dtype: int64

There is no one who is employed and has 0 income. However, the categories n/a, unemployed, and not in labor force have mostly people with 0 income. So, we should exclude people with income 0 from our analysis if we're focusing on only employed people, since no one who is employed has 0 income.

In [10]:
#exercise 8 - income percentages for Black Americans vs White Americans

white_americans = subset_df3[subset_df3['race']=='white']
ave_white = white_americans['inctot'].mean()
print(f'The mean income of White Americans in 2017 is: ${ave_white:.2f}')

black_African_americans = subset_df3[subset_df3['race']=='black/african american/negro']
ave_ba = black_African_americans['inctot'].mean()
print(f'The mean income of White Americans in 2017 is: ${ave_ba:.2f}')

percent_difference = (ave_white-ave_ba)/ave_white*100
print(f'The percent difference between mean income of White and Black/African Americans is: {percent_difference:.2f}%')

The mean income of White Americans in 2017 is: $60473.15
The mean income of White Americans in 2017 is: $41747.95
The percent difference between mean income of White and Black/African Americans is: 30.96%